# Ignore LaTeX aux files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lol
*.lot
*.out
*.pdf
*.run.xml
*.synctex
*.synctex(busy)
*.synctex.gz
*.toc
*.xmpi

tau-logo-fin-eps-converted-to.pdf

# VS Code
.vscode
